*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    /* Main Colors */
    --primary1: #FF7F50;
    --primary2: #FF9A76;
    --primary3: #EC1414;
    --secondary1: #FFB076;
    --secondary2: #FBCEB1;
  
    /* Background Colors */
    --bg-ivory1: #FFFFF0;
    --bg-white: #EDEDEB;
  
    /* Text Colors */
    --text1: #4B4B43;  /* Dark Text */
    --text2: #82827C; /* Light Text */
  }
  

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 50px 30px;
    flex-shrink: 5;
}
ul{
    display: flex;
    list-style: none;
  flex-grow: 0.15;
  justify-content: space-between;
    
}
ul li{
    margin-right: 20px;
    
}
ul li a{
    text-decoration: none;
    color: var(--text1);
    font-size: 1rem;
    font-weight: bolder;
    transition: all 0.3s ease;
    border-bottom: 4px solid transparent; 
    padding: 0px 10px;   
}
ul li a:hover{
    color: var(--primary3);
    border-bottom: 3px solid var(--primary3);
    transition: all 0.3s ease;
}
#cart,#login{
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 1rem;
    font-weight: bolder;

}
#cart{
    font-size:1.8rem ;
}
#login{
    font-size:0.8rem ;
    border: 2px solid var(--primary3);
    padding: 5px 8px;
    border-radius: 5px;
    background-color: var(--primary3);
    color: white
}
#cart:hover{
    color: var(--primary3);
        scale: 1.1;
    transition: all 0.3s ease;

}
#login:hover{
    color: var(--primary3);
    transition: all 0.3s ease;

}
.nav-icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 0.03;
}