*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    /* Main Colors */
    --primary1: #FF7F50;
    --primary2: #FF9A76;
    --primary3: #EC1414;
    --secondary1: #FFB076;
    --secondary2: #FBCEB1;
  
    /* Background Colors */
    --bg-ivory1: #FFFFF0;
    --bg-white: #EDEDEB;
  
    /* Text Colors */
    --text1: #4B4B43;  /* Dark Text */
    --text2: #82827C; /* Light Text */
    /*fonts*/
    --font-secondary: "Recoleta"; /*smaller font*/
    --font-primary: "Itim", sans-serif;
  }

a {
    display: flex;
    align-items: center;
    text-decoration: none;
}
a p{
    color: #FBCEB1;
    font-size: 40px;
    font-family: var(--font-secondary);
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 20px 17px 50px 17px;
    flex-shrink: 5;
}
img{
    height: 100px;
    width: 200px;
}

ul{
    display: flex;
    list-style: none;
  flex-grow: 0.15;
  justify-content: space-between;
    
    
}
ul li{
    margin-right: 20px;
    
}
ul li a {
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
    font-weight: bolder;
    position: relative; /* Required for ::after to position properly */
   padding: 0px 10px;
    transition: color 0.3s ease;
    font-family: var(--font-secondary);
    
}

ul li a::after {
    content: ""; /* Creates the underline effect */
    position: absolute;
    bottom: -2px; /* Adjust distance from the text */
    left: 0;
    width: 0%; /* Initially hidden */
    height: 3px; /* Thickness of the underline */
    background-color: var(--primary3);
    transition: width 0.3s ease; /* Animation for underline */
}

ul li a:hover::after {
    width: 100%; /* Expands underline on hover */
}

#cart,#login{
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 1rem;
    font-weight: bolder;

}
#cart{
    font-size:1.8rem ;
    margin-right: 10px;
}
#login{
    font-size:0.8rem ;
    border: 2px solid var(--primary3);
    padding: 5px 8px;
    border-radius: 5px;
    background-color: var(--primary3);
    color: white
}
#cart:hover{
    color: var(--primary3);
        scale: 1.1;
    transition: all 0.3s ease;

}
#login:hover{
    color:black;
    transition: all 0.3s ease;
    background-color:var(--bg-ivory1)

}
.nav-icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 0.03;
}

@media (max-width: 768px) {
    a p{
        display: none;
    }

}

@media (max-width: 480px) {
    nav ul li {
        display: none;
    }
}